body {
    margin: 0px;
}

.image-scroll {
    background-attachment: fixed;
    background-size: 100vw;
    margin-top: 0px;
    background-image: url('images/customer-background.jpg');
    background-repeat: no-repeat;
    padding-bottom: calc(0.26*45vw);
}

.page-title {
   font-style: bold;
   margin-left: 70px;
   padding-top: 85px;
   font-size: 24px;
}


.scroll {
    font-size: 20px;
    margin: 20px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: auto auto;
}

.AppImg {
   max-height: 100%;
   max-width: 100%;
   position: relative;
   grid-column: 3/5;
}

.p1 {
   grid-column: 1/3;
    padding-left: 50px;
}

.accesibility {
    position: relative;
}
