body {
    margin: 0px;
}

.image-scroll {
    background-attachment: fixed;
    background-size: 100vw;
    /*This fills the entire page with the image without squishing it or putting in wrong scale*/
    margin-top: 0px;
    background-image: url('images/station.jpg');
    background-repeat: no-repeat;
    padding-bottom: calc(0.52*100vw);
    /*0.5 was originally the value but changed it to 0.52 for asthetics (just so that the next part of the page isn't seen when home page is loaded)*/
}

.scroll {
    font-size: 20px;
    margin: 20px;
    padding-bottom: 100px;
}


.grid{
    
    display:grid;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 200px 200px;
    gap: 0.75%;
    row-gap: 2%;
    padding: 1%;
    background-color: white;
    padding-bottom: 100px;
}

.grid a:hover{
    background-color: rgb(229, 229, 229);
    
}

.hovered:hover h2{
    animation:fadeIn 1.5s;
    display: block;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100%{opacity: 1;}

}


.grid a{
    border:solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
}

.grid-arrow{
    display: none;
    font-size: 3vh;
    font-weight:bolder;
    font-family:Calibri;
    float: right;
    /*padding-top: 10px;*/
}/*Need to have a padding to have the arrow at the bottom of the grid element*/

.grid h1{
    margin: 0;
    border-radius: 10px;
    background-color: inherit;

    font-size: 2vh;
}

.grid img{
    padding-right: 10px; 
    float: left;
    height: 50px;
    object-fit: contain;
}

.menu-bar p{
    margin:0;
    font-weight:bolder;
    font-style: Calibri;
    display:ruby-text;
}

/*This is all for the menu bar*/
.menu-bar {
    background-color: rgb(229, 229, 229);
    position: sticky;
    top: 0;
    padding-bottom: 0;
}

.logo {
    position: sticky;
    top: 0;
    font-style: none;
    text-decoration: none;
    font-weight: bold;
}

img.logo {
    height: 50px;
    object-fit: contain;
    object-position: top left;
}

#menu {
    position: sticky;
    top: 0;
    margin-top: 0px;
    margin-right: 20px;
    float: right;
    font-weight: 1000;
    font-size: 40px;
    /*2vw*/
}

#menu-content {
    display: none;
    background-color: rgb(229, 229, 229);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;

}

#menu-content a {
    color: black;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 30px;

}

.dropdown {
    padding-top: 40px;
    padding-right: 155px;
    /*display: inline-block;*/
}

#menu-content a:hover {
    background-color: #ddd;
}