body {
    margin: 0px;
}

.image-scroll {
    background-attachment: fixed;
    background-size: 100vw;
    /*This fills the entire page with the image without squishing it or putting in wrong scale*/
    margin-top: 0px;
    background-image: url('images/station.jpg');
    background-repeat: no-repeat;
    padding-bottom: calc(0.52*100vw);
    /*0.5 was originally the value but changed it to 0.52 for asthetics (just so that the next part of the page isn't seen when home page is loaded)*/
}

.scroll {
    margin: 20px;
    padding-bottom: 30px;
}

.description1{
    font-size:2.5vh;
    font-family:"Onest";
    text-align:justify; /*aligns the all end of lines to be the same*/
}



.grid{
    display:grid;
    grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
    grid-template-rows: 22.5vw;
    gap: 2vw;
    padding: 2vw;
    background-color: white;
    padding-bottom: 100px;
}

.grid a:hover{
    background-color: rgb(229, 229, 229);
    width: 22.5vw;
    height: 22.5vw;
    
}

.hovered:hover h1{
    animation:fadeIn 1.5s;
    display: block;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50%{padding-top: 1vw;}
    100%{opacity: 1;}
}


.grid a{
    width: 18vw;
    height: 18vw;
    
    display:block;
    margin:auto;


    border:solid;
    border-color: black;
    border-radius: 1000px;/*
    padding: 10px 10px;*/
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;

    transition: height 1s,width 1s ;

}


.grid h1{
    display:none;
    padding-top: 4.5vw;
    margin: 0;
    border-radius: 10px;
    background-color: inherit;
    text-align: center;
    font-size: 2.5vw;
    font-family:Calibri;
}


.grid img{
    padding-top:3vw;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 7vw;
    object-fit: contain;
    /*transition-*/
}

.menu-bar p{
    margin:0;
    font-weight:bolder;
    font-style: Calibri;
    /*display:ruby-text;*/
}

.menu-bar{
    position:sticky;
    top:0;
    display:grid;
    grid-template-columns: 67px auto 20% 1px;
    grid-template-rows: 50px;
    background-color: rgb(229, 229, 229);
    padding-bottom: 0;
}

/*This is all for the menu bar*/
.menu-basr {
    background-color: rgb(229, 229, 229);
    position: sticky;
    top: 0;
    padding-bottom: 0;
    width:100vw;
}

.it2{
    padding:15px;   
    padding-left:0; 
}

.logo {
    position: sticky;
    top: 0;
    font-style: none;
    text-decoration: none;
    font-weight: bold;
}

img.logo {
    height: 50px;
    object-fit: contain;
    object-position: top left;
}

#menu {
    position: sticky;
    top: 0;
    margin-top: 0px;
    margin-right: 15px;
    float: right;
    font-weight: 1000;
    font-size: 40px;
    /*2vw*/
}

#menu-content {
    display: none;
    background-color: rgb(229, 229, 229);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    width:20vw;

}

#menu-content a {
    color: black;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 30px;

}

.dropdown {
    padding-top: 40px;
    /*display: inline-block;*/
}

#menu-content a:hover {
    background-color: #ddd;
}