/* Global Variables */
:root {
    --color-light-blue: #78F9FF;
    --color-white: #ffffff;
    --color-light-green: #8CFBAE;
    --color-dark-green: #095256;
}

/*MENU BAR*/
.menu-bar p{
    margin:0;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
}

.menu-bar{
    position:sticky;
    top:0;
    display:grid;
    grid-template-columns: 67px auto 20% 1px;
    grid-template-rows: 50px;
    background-color: rgb(229, 229, 229);
    padding-bottom: 0;
    z-index: 1;
}

.it2{
    padding:15px;   
    padding-left:0; 
}

.logo {
    position: sticky;
    top: 0;
    font-style: none;
    text-decoration: none;
    font-weight: bold;
}

img.logo {
    height: 50px;
    object-fit: contain;
    object-position: top left;
}

#menu {
    position: sticky;
    top: 0;
    margin-top: 0px;
    margin-right: 15px;
    float: right;
    font-weight: 1000;
    font-size: 40px;
    /*2vw*/
}

#menu-content {
    display: none;
    background-color: rgb(229, 229, 229);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    width:20vw;

}

#menu-content a {
    color: black;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 30px;

}

.dropdown {
    padding-top: 40px;
    /*display: inline-block;*/
}

#menu-content a:hover {
    background-color: #ddd;
}


/*MENU AND MAIN IMAGE*/


/*FOOTER SECTION*/

 .footer{
    display: grid;
    grid-template-columns: 10fr 35fr;
    background-color: #095256;
    padding: 10px;
    font-size: 1.7vw;
    font-family: "Onest";
  }
  .grid-item1, .grid-item2{
  
  
    padding: 60px;
    text-align: center;
  }
  
  .grid-item3,.grid-item4{
  
  
    padding: 5px;
    text-align: center;
  
  }
  
  .grid-item1{
    text-align: left;
    color: white;
    border-right: 1px solid white;
  }
  
  .grid-item1 > a:link{
    color: white;
  }
  
  .grid-item1 > a:hover{
    color: white;
  }
  
  .grid-item1 > a:visited{
    color: #e5e5e5;
  }
  
  .grid-item2{
    color: white;
  }
  
  .grid-item3{
    font-size: 2vh;
    text-align: left;
    padding-left: 60px;
    padding-top: 35px;
    color: white;
    border-right: 1px solid white;
  }
  
  .grid-item4{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    padding: 10px;
    font-size: 1.5vw;
    color: white;
  }
  
  .twitter_pic{
    width: 5vh;
    height: 5vh
  }
  
  .insta_pic,.facebook_pic{
    width: 5vh;
    height: 5vh;
  }
  
  input{
    background-color: #e5e5e5;
    border: 3px solid #717171;;
    border-radius: 10px;
    font-size: 3vh;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    margin: 0.3rem 0 1rem 0;
    transition-duration: var(--button-fade-time);
  }
  
  input[type="email" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
  }
  
  #clear{
    cursor:pointer;
  }
  
  label {
    cursor: default;
  }
  
  button {
    cursor: pointer;
    margin-top: 1rem;
  }
  button {
    background-color: var(--color-light-green);
    color: #095256;
    border: 3px solid #e5e5e5;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    margin: 0.3rem 0 1rem 0;
    transition-duration: var(--button-fade-time);
  }
/*FOOTER SECTION*/