body{
    margin: 0px;
    font-family: "Onest";
}
:root {
  --color-light-blue: #78F9FF;
  --color-white: #ffffff;
  --color-light-green: #8CFBAE;
  --color-dark-green: #095256;
}

.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('/images/Picleft.jpg');
  opacity:95%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 83vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
.payment{
    position:absolute;
    top:50%;
    left: 50%;
    color: #ece8e1;
    transform: translate(-50%, -50%);
    font-family: "Onest";
    font-size: 10vw;
    padding:20px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
  }
table,th,td{
    text-align: center;
    border-collapse: collapse;
    padding-bottom: 20px;
    width:50%;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
tr:hover{background-color: aquamarine;}
h1{
   font-family: bold;
   font-size: 40px;
   text-align: center;
   margin: 0px;
}
h3{
    font-size:25px ;
    color:#095256;
    margin-top: -82px;
    padding-left: 90px;
    text-decoration: overline;
}

.cards_list{
  padding-left: 90px;
}

h2{
    font-size: 25px;
    font-weight: bold;
}
div.Cards{
    position: relative;
    padding-left: 500px;
    bottom: 170px;
}
.picture1 {
    width: 60%;
    position: relative;
    top: -200px;
    padding-left: 200px;
}


img.picture2{
    width: 300px;
    height: -150px;
    position: relative;
    top: -150px;
}
/*
html, body {
    max-width: 100%;
    overflow-x: hidden;
}*/

img.picture3{
    position: relative;
    top: -190px;
    width: 500px;
    height: 300px;
    float:right;
}
h6{
    top:300px;
}
h5{
    position:relative;
    top: -300px;
}

*{
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .column > img{
    -webkit-box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.3);
    object-fit: cover;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    margin-top: -190px;
    cursor: pointer;
    position:relative;
  }

  p2{
    font-size: 25px;
  }
  p3{
    font-size: 25px;
  }
  h4{
    font-size: 40px;
    text-decoration: overline;
  }

.pop-out{
    transition: transform.5s;
}

.pop-out:hover{
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1, 1.1);
}

.footer{
  display: grid;
  grid-template-columns: 10fr 35fr;
  background-color: #095256;
  padding: 10px;
  font-size: 1.7vw;
  font-family: "Onest";
}
.grid-item1, .grid-item2{


  padding: 60px;
  text-align: center;
}

.grid-item3,.grid-item4{


  padding: 5px;
  text-align: center;

}

.grid-item1{
  text-align: left;
  color: white;
  border-right: 1px solid white;
}

.grid-item1 > a:link{
  color: white;
}

.grid-item1 > a:hover{
  color: white;
}

.grid-item1 > a:visited{
  color: #e5e5e5;
}

.grid-item2{
  color: white;
}

.grid-item3{
  font-size: 2vh;
  text-align: left;
  padding-left: 60px;
  padding-top: 35px;
  color: white;
  border-right: 1px solid white;
}

.grid-item4{
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  padding: 10px;
  font-size: 1.5vw;
  color: white;
}

.twitter_pic{
  width: 5vh;
  height: 5vh
}

.insta_pic,.facebook_pic{
  width: 5vh;
  height: 5vh;
}

input{
  background-color: #e5e5e5;
  border: 3px solid #717171;;
  border-radius: 10px;
  font-size: 3vh;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  margin: 0.3rem 0 1rem 0;
  transition-duration: var(--button-fade-time);
}

input[type="email" i] {
  writing-mode: horizontal-tb !important;
  padding-block: 1px;
  padding-inline: 2px;
}

#clear{
  cursor:pointer;
}

label {
  cursor: default;
}

button {
  cursor: pointer;
  margin-top: 1rem;
}
button {
  background-color: var(--color-light-green);
  color: #095256;
  border: 3px solid #e5e5e5;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  margin: 0.3rem 0 1rem 0;
  transition-duration: var(--button-fade-time);
}