body {
    margin: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: ;

}

.menu-bar {
    background-color: #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size:22px;
}

.logo {
    position: sticky;
    top: 0;
    font-style: none;
    text-decoration: none;
    font-weight: bold;
}

img.logo {
    height: 50px;
    object-fit: contain;
    object-position: top left;
}

#menu {
    position: absolute;
    top: 0;
    right: 10px;
    margin-right: 20px;
    float: right;
    font-weight: 1000;
    font-size: 40px;
}

#menu-content {
    display: none;
    background-color: rgb(229, 229, 229);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40px;
}

#menu-content a {
    color: black;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 30px;
}

.dropdown {
    padding-top: 40px;
    padding-right: 155px;
}

h1 {
    color: black;
    text-shadow: 0px 0px 5px #7CD8DE, 0px -5px 5px #7FE39D;
    text-align: center;
}

h2 {
    color: black;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;

}

h3 {
    color: black;
    text-align: center;
    text-decoration: underline;
}

.feature-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.feature {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature img {
    height: 33vh;
    width: auto;
    border-radius: 50%;
    background-color: #7CD8DE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature p {
    margin-top: 10px;
    text-align: center;
}

.image {
    background-image: url('top.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    margin: 0;
}

.overlay-text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-shadow: 2px 2px 10px black;
    text-decoration: underline;
    padding: 20px;
    
    display: inline-block;
    font-family: "Onest";
    font-size: 9vw;
    text-align: center;
    white-space: nowrap;

}

.section-title-bg {
    background-color: #78F9FF; 
    padding: 55px; 
    text-align: center;
    color: black;
    font-size: 40px;
    text-decoration: underline;
    margin: 0; 
}


.section-title-bg-2 {
    background-color: #8CFBAE; 
    padding: 55px; 
    text-align: center;
    color: black;
    font-size: 40px;
    text-decoration: underline;
    margin: 0; 
}